body {
    background-color: #efefef;
}

.header {
    background-color: #d9d9d9;
    
    height: 70px;
    margin: 0% auto;
    display: flex;
}

#logo {
    height: 60px;
    width: 120px;
    padding-left: 5px;
    padding-top: 5px;
}

.header-text {
    display: flex;
    margin: auto;
    font-size: 26px;
}

#header-inner {
    color: black;
    display: block;
    text-align: center;
    color: #6c899a;
    font-family: 'Comic Sans', 'Comic Sans MS', cursive;
    
}

.list-content {
    background-color: #d9d9d9;
    border: 2px solid #9DBCAD;
    position: absolute;
    height: 100%;
    width: 30%;
    color: white;
    
}

#list-add-item {
    
    background-color: #d9d9d9;
    margin-left: 30%;
    height: 100px;
    border: 2px solid #9DBCAD;
    
}
#list-add-item p{
    margin: 0;
}

#content {
    margin-left: 30%;
    background-color: #d9d9d9;
    border: 2px solid #9DBCAD;
    position: relative;
    height: 84vh;
}

.dropbtn {
    background-color: #9DBCAD;
    color: white;
    padding: 16px;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 16px;
    border: none;
    width: 100%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 233px;
  }
form{
    padding-top: 30px;
    padding-left: 40%;
}

input.submit-btn {
    background-color: #9DBCAD;
    color: white;
    border: none;
}

#content-center>p {
    padding-top: 20px;
    text-align: center;
}

.submit-btn:hover{background-color: #6c899a;}
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #6c899a;}